@page "/"
@using Tools.NumberToWordsConversion.Application.NumberToWordsConverter
@inject INumberToWordsConverterService NumberToWordsConverterService

<PageTitle>Number to Words Converter - OneJackLee</PageTitle>

<h1>Welcome</h1>

Welcome to your new app.